__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/

pip-log.txt
pip-delete-this-directory.txt

alembic/versions/

*.log
logs/

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.env
*.secrets

*.egg-info